<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespcae原来指命名空间 -->
<!-- 现在namespace指要映射给哪个接口 -->
<mapper namespace="dao.UserDao">


	<select id="query" resultType="entity.User">
		select * from user where
		userName like '%${userName}%'
	</select>
	
	<select id="queryAllUser" resultType="entity.User">
		select * from user 
	</select>
	
	<select id="query2" resultType="entity.User">
		select * from user 
		<where>
		<if test="userName!=null and userName !=''">
		and userName like '%${userName}%'
		</if>
		<if test="identity!=null and identity!=-1">
		and identity = #{identity}
		</if>
		</where>
	</select>
	
	<select id="queryByName" parameterType="java.lang.String"
		resultType="entity.User">
		select * from user where userName=#{name}
	</select>
	
	<insert id="insert" parameterType="entity.User">
		insert into
		user(userName,password,identity,mail,academy)
		values(#{userName},#{password},#{identity},#{mail},#{academy})
	</insert>
	
</mapper>