body {
	background: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	margin: 20px;
	padding: 20px;
	background-image: url(../images/bg_big2.png);
	background-size: cover;
}

#back {
	position: absolute;
	font-size: 20px;
	color: white;
	top: 100px;
	left: 480px;
}

#back:hover {
	position: absolute;
	font-size: 20px;
	color: gray;
	top: 100px;
	left: 480px;
}

.btn29 {
	width: 143px;
	height: 43px;
	line-height: 18px;
	font-size: 18px;
	background: url("../images/bg29.jpg") no-repeat left top;
	color: #FFF;
}

.select {
	border: 1px solid #DCDEE0;
	vertical-align: middle;
	border-radius: 3px;
	height: 30px;
	padding: 0px 16px;
	font-size: 14px;
	color: #555555;
	outline: none;
	width: 50%;
}

#ansss {
	position: absolute left:200px;
}

#canvas, #video {
	float: left;
	margin-right: 10px;
	background: #fff;
}

.box {
	positon:absolute;
	top:300px;
	overflow: hidden;
	margin-bottom: 10px;
}
